* {
	margin:0px;
	padding:0px;
}
html {
	background: url("../img/body_bg.gif");
}
body {
	width: 92%;
	margin:2px auto;
	font-family: "Microsoft YaHei";
}

#header {
	width: 100%;
	height:130px;
	
}
#header img {
	display:block;
	width:100%;
}
#menu {
	background: url("../img/menu.gif");
	background-repeat: repeat;
	margin:0px 0px 10px 0px;
	height: 30px;
	text-align: right;
}
#menu ul {
	padding-top:5px;
}
#menu ul li {
	list-style-type: none;
	display: inline;
	color:#fff;
	padding-right: 30px;

}
#menu a {
	text-decoration: none;
	color:#fff;
}
#left {
	width: 20%;	
	margin-left:20px;
	text-align: center;
	float: left; 
}


#left li {

	font-size: 16px;
	list-style-type: none;
	background-color:#B0E0E6;
}

#right {
	width: 70%;
	
	float: left; 
}
#right #in{
	width:85%;
	margin:0px auto;
}
#left a {
	text-decoration: none;
}
#menu a:hover,#left a:hover {

	color:black;
}

.bold {
	font-weight: bold;
	color:#000080;
}

.nob {
	color:#4876FF;
}
