
body{
	width: 100%;
	height: 100%;
	
	margin: 0px;
	background-image: url(../img/backgroud.jpg);
}
       
#main{    
	position: absolute;    
	top: 50%;    
	left:50%;    
	margin: -150px 0 0 -150px;    
	width: 300px;    
	height: 300px;    
}    
#main h1{    
	color: #FFFFFF;    
	text-shadow:0 0 5px;    
	letter-spacing: 1px;    
	text-align: center;    
}    
h1{    
	font-size: 2em;    
	margin: 0.67em 0;  
	font-family: "Î¢ÈíÑÅºÚ";  
}    
.a{    
	width: 250px;    
	height: 30px;   
	margin:15px 0px 15px 0px;    
	padding: 0px;    
	font-size: 13px;    
	color: #fff;    
	border-top: 1px solid #312E3D;    
	border-left: 1px solid #312E3D;    
	border-right: 1px solid #312E3D;    
	border-bottom: 1px solid #56536A;    
	border-radius: 4px;    
	background-color: #2D2D3F;    
}   
.b {
	width: 100px;    
	height: 30px;   
	margin:15px 0px 15px 0px;    
	padding: 0px;    
	font-size: 13px;    
	color: #fff;    
	border-top: 1px solid #312E3D;    
	border-left: 1px solid #312E3D;    
	border-right: 1px solid #312E3D;    
	border-bottom: 1px solid #56536A;    
	border-radius: 4px;    
	background-color: #2D2D3F;  
} 
#login{    
	width: 70px;    
	height: 30px; 
	padding:0px;
	outline: none; 
	margin-top:20px;        
	margin-left:45px;   
} 
label {
	color:#fff;
}
